rules_version = '2';
service cloud.firestore {
    match /users/{uid} {
    allow read, write: if request.auth != null && 
      get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }
    
    match /Solar%20Arrays/{array} {
      allow read: if true;
      allow write: if request.auth != null && 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }
}